/*General*/
:root {
    --bg-containers: rgba(14, 16, 27, 0.911);
    --text: aliceblue;
    --highlight: skyblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    background-image: url(/img/portfbackground.jpg);
    background-position: center;
    scroll-behavior: smooth;
    overflow: hidden;
}

/*General*/

/*Navbar*/

.navbar {
    background-color: var(--bg-containers);
    color: var(--text);
    z-index:1;
    top: 0;
    width: 100%;
    position: fixed;
}

.brand {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 4px;
    padding-left: 5vh;
}

.a-nav, .brand {
    margin: 0.5vh;
    color: var(--text);
    text-decoration: none;
    border-bottom: solid 1px transparent;
    text-shadow: var(--highlight) 2px 0 15px;
}


.a-nav:hover {
    background-color: transparent;
    font-size: large;
    color: var(--highlight);
    font-weight: bold;
    border-bottom: solid 1px var(--text);
}

.selected {
    color: var(--highlight);
    font-size: large;
    border-bottom: solid 2px var(--text);
}

/*Navbar*/

/*Profile image*/

#imgPerfil {
    max-height: 50vh;
    width: 40vb;
    border-radius: 5vh;
    filter: drop-shadow(0 0 1vh var(--highlight));
}

@media (min-width: 768px) {
    #imgPerfil {
        min-width: 65vb;
    }
}

/*Profile image*/

/*Containers and text*/

.cont {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-containers);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    margin-top: 10vh;
}

.cont > h1 {
    letter-spacing: 0.2vh;
    font-size: 5vh;
    text-wrap: nowrap;
}

.cont h2 {
    font-size: 5vh;
    text-shadow: var(--highlight) 2px 0 15px;
}

#portfolio h2 {
    text-align: center;
}

#portfolio {
    text-align: left;
}

#portfolio h2 {
    margin-left: 2vh;
}

#portfolio ul > h3 {
    color: var(--highlight);
    padding-top: 4vh;
}

#portfolio ul > li {
    padding: 4vh;
    border-bottom: solid 1px var(--text);
}

p {
    text-align: center;
}

/*Containers and text*/

/* Recommendations form*/

.input-form {
    padding: 1vh 2vh 1.2vh 2vh;
    position: relative;
    align-self: center;
    text-align: left;
}

.input-form input, .input-form textarea {
    border: none;
    background-color: var(--bg-containers);
    font-size: 1.5vh;
    padding: 2.5vh 37vh 1.8vh 1vh;
    resize: none;
    border-radius: 1.8vh;
    color: var(--text);
    font-weight: 800;
}

.input-form textarea {
    padding: 2.5rem 40vh 5vh 0;
    text-indent: 0.82vh;
}

.input-form input:focus, .input-form textarea:focus {
    outline: 0.25vh ridge var(--text);
}

.input-form label {
    position: absolute;
    font-size: 2vh;
    transform: translate(1.2vh, 2vh) scale(1);
    transform-origin: top left;
    transition: all .1s ease-in-out;
}

.input-form.active label {
    transform: translate(1vh, 0.5vh) scale(.75);
    color: var(--highlight);
}


#contacto h2 {
    margin-top: 3vh;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* Recommendations form*/

.col.recom {
    margin: 5vh;
    padding: 3vh;
    border: 1px solid var(--highlight);
    border-radius: 20px;
}

.col.recom p {
    text-align: justify;
    font-style: italic;
    font-weight: bold;
}

/*Profile buttons*/

.btn {
    background-image: url(/img/buttonimg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text);
    font-size: 1rem;
    font-weight: 900;
    margin: 0.625rem;
    padding: 1.2vh 2.5vh 1.225vh 2.5vh;
    border-radius: 1.8vh;
    border-width: 0.012vh;
    height: auto;
}

button:hover {
    color: var(--highlight);
}

#git {
    background-image: url(/img/githubLogo.png);
    min-height: 5vh;
    min-width: 5vh;
}

#linke {
    background-image: url(/img/linkedinLogo.png);
    min-height: 5vh;
    min-width: 5vh;
}

#cv {
    background-image: url(/img/btnCv.png);
    min-height: 7vh;
    min-width: 5vh;
}

/*Profile buttons*/


/*Skill section*/

.skill {
    max-width: 10vh;
    max-height: 10vh;
    padding-bottom: 2vh;
}

.skcard {
    border: 1px solid var(--text);
    border-radius: 20px;
    margin: 2vh;
    box-shadow: 0 4px 20px var(--highlight);
}

/*Skill section*/